.vertical-stepper {
  .steps {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;

    .step-container {
      width: 100px;
      margin: 10px;
      text-align: center;

      .stepper-button {
        height: 50px;
        width: 300px !important;
        border: none;
        cursor: pointer;
        background: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: max-content;

        @include themify($themes) {
          &.active {
            .circle {
              background: themed("btnPrimary");
              color: themed("btnPrimaryText");
            }
          }

          &.disabled {
            .circle {
              background: none;
              color: themed("textMuted");
            }
            .step-label {
              color: themed("textMuted");
            }

            &:hover {
              background: none;
              cursor: not-allowed;
            }
          }

          &:hover {
            background: themed("stepperBackgroundColor");
          }
        }
      }
    }
  }

  .circle {
    @include themify($themes) {
      background: themed("stepperInactiveBadgeColor");
      color: themed("stepperInactiveTextColor");
    }
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    flex-direction: row;
    font-weight: bold;
    line-height: 30px;
    margin-right: 14px;
    text-align: center;
    width: 30px;
    float: left;

    &.completed {
      @include themify($themes) {
        background: themed("btnPrimary");
        color: themed("btnPrimaryText");
      }
    }
  }

  .circle.active {
    @include themify($themes) {
      color: themed("headingColor");
    }
  }
}

.step-label {
  @include themify($themes) {
    color: themed("textColor");
  }
  text-align: left;
  margin-top: 15px;
  line-height: 5px;
  &.active {
    .main-label {
      font-weight: bold;
    }
  }
}

.step-content {
  @include themify($themes) {
    border-left: 1px solid themed("separator");
  }
  padding-left: 25px;
  display: inline-block;

  &.divider {
    height: 21px;
    margin-left: 30px;
  }
}
